<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}QuickServe{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='core/core.css') }}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="sub1">
                <span>Services</span>
                <div class="sub2">
                    {% for service in services %}
                        <div class="service-entry"><a href="{{ service.url }}">{{ service.name}}</a></div>
                    {% endfor %}
                </div>
            </div>
            <div class="sub1">
                <span>Modules</span>
                {% for module in modules %}
                <div class="sub2">
                    <span>
                        <a href="{{ url_for('modules.module_about', module_name=module) }}">{{ module }}</a>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>