<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}QuickServe{% endblock %}</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='core/core.css') }}">
        <script src="{{ url_for('static', filename='core/search.js') }}" defer></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <input type="hidden"
               id="search-endpoint"
               value="{{ url_for("api.search") }}">
        <div class="search-bar">
            <input placeholder="Search for Modules and Instances"
                   type="text"
                   id="search-bar"
                   class="search-bar">
            <div class="search-results" id="search-results"></div>
        </div>
        <div class="main">
            <div class="sidebar">
                <div class="sub1">
                    <span>Instances</span>
                    <div class="sub2">
                        {% for instance in instances %}
                            <div class="instance-entry"><a href="{{ instance.url }}">{{ instance.name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="sub1">
                    <span>Modules</span>
                    {% for module in modules %}
                        <div class="sub2">
                            <span>
                                <a href="{{ url_for('modules.module_about', module_name=module) }}">{{ module }}</a>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
