<div id="filesystem-block">
    <style>
        @scope {
            .file-viewer {
                background-color: #1e1e1e;
                padding: 2vh 2vw;
            }
            .file-viewer > ul {
                list-style-type: none;
            }
            .file-heading {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .fs-item {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 5fr 1fr;
            }
            .fs-item > a {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 2fr 2fr 1fr;
                height: 1.4rem;
            }

            .fs-name {
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }

            .fs-name > img {
                width: 1.2rem;
                height: 1.2rem;
            }
        }

    </style>
    <div style="margin-bottom: 25px"></div>
    <div class="file-viewer">
        <span class="file-heading">
            Directory listing for <span class="file-list-directory">{{ context.root_directory }}</span>
        </span>
        <ul>
            <li>
                <div class="fs-item">
                    <a href="?directory=./{{ context.parent_folder }}">
                        <span class="fs-name">
                            <img src="{{ url_for('static', filename='common/folder-svgrepo-com.svg') }}" alt="Folder">
                            ..
                        </span>
                    </a>
                </div>
            </li>
            {% for file in context.files %}
            <li>
                <div class="fs-item">
                    <a href="
                    {% if file.isFile %}
                        ?file=.{{ file.cwd }}{{ file.filename }}
                    {% else %}
                        ?directory=.{{ file.cwd }}{{ file.filename }}
                    {% endif %}
                    ">
                        <span class="fs-name">
                            <img src="
                                {% if file.isFile %}
                                    {{ url_for('static', filename='common/file-code-svgrepo-com.svg') }}
                                {% else %}
                                    {{ url_for('static', filename='common/folder-svgrepo-com.svg') }}
                                {% endif %}
                            " alt="{% if file.isFile %}File{% else %}Folder{% endif %}">
                            {{ file.filename }}
                        </span>
                        <span>{{ file.modified }}</span>
                        <span>{{ file.size }}</span>
                    </a>
                        {% if file.isFile %}
                            <span><button type="button" onclick="alert('{{ file.filename }}')">Edit</button> | <button type="button" onclick="alert('{{ file.filename }}')">Delete</button> | <button type="button" onclick="alert('{{ file.filename }}')">Rename</button></span>
                        {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>