<div id="filesystem-block">
    <style>
        @scope {
            .file-viewer {
                background-color: #1e1e1e;
                padding: 2vh 2vw;
            }
            .file-viewer > ul {
                list-style-type: none;
            }
            .file-heading {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .fs-item {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 5fr 2fr;
            }
            .fs-item > a {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 2fr 2fr 1fr;
                height: 1.4rem;
            }

            .fs-name {
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }

            .fs-name > img {
                width: 1.2rem;
                height: 1.2rem;
            }
        }

    </style>
    <div style="margin-bottom: 25px"></div>
    <div class="file-viewer">
        <span class="file-heading">
            Directory listing for <span class="file-list-directory">{{ context.root_directory }}</span>
        </span>
        <ul>
            <li>
                <div class="fs-item">
                    <a href="?directory=./{{ context.parent_folder }}">
                        <span class="fs-name">
                            <img src="{{ url_for('static', filename='common/folder-svgrepo-com.svg') }}" alt="Folder">
                            ..
                        </span>
                    </a>
                </div>
            </li>
            {% for file in context.files %}
            <li>
                <div class="fs-item">
                    <a href="
                    {% if file.isFile %}
                        ?file=.{{ file.cwd }}{{ file.filename }}
                    {% else %}
                        ?directory=.{{ file.cwd }}{{ file.filename }}
                    {% endif %}
                    ">
                        <span class="fs-name">
                            <img src="
                                {% if file.isFile %}
                                    {{ url_for('static', filename='common/file-code-svgrepo-com.svg') }}
                                {% else %}
                                    {{ url_for('static', filename='common/folder-svgrepo-com.svg') }}
                                {% endif %}
                            " alt="{% if file.isFile %}File{% else %}Folder{% endif %}">
                            {{ file.filename }}
                        </span>
                        <span>{{ file.modified }}</span>
                        <span>{{ file.size }}</span>
                    </a>
                        {% if file.isFile %}
                            <input type="hidden" name="filename" value="{{ file.filename }}">
                            <input type="hidden" name="cwd" value="{{ file.cwd }}">
                            <span><button type="button" onclick="fs_edit(this)">Edit</button> | <button type="button" onclick="fs_delete(this)">Delete</button> | <button type="button" onclick="fs_rename(this)">Rename</button> | <button type="button" onclick="fs_download(this)">Download</button></span>
                        {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <script>
            function fs_btn_get_filepath(btn) {
                const container = btn.parentElement.parentElement;
                const cwd = container.querySelector('input[name="cwd"]').value;
                const filename = container.querySelector('input[name="filename"]').value;

                return `.${ cwd }${ filename }`
            }

            function fs_edit(btn) {
                const filepath = fs_btn_get_filepath(btn)
                console.log(`fs_edit ${filepath}`)
            }

            function fs_delete(btn) {
                const filepath = fs_btn_get_filepath(btn)
                console.log(`fs_delete ${filepath}`)
            }

            function fs_rename(btn) {
                const filepath = fs_btn_get_filepath(btn)
                console.log(`fs_rename ${filepath}`)
            }

            function fs_download(btn) {
                const filepath = fs_btn_get_filepath(btn)
                const url = {{ url_for("modules.instancestatic.instance_download_file", uuid=context.instance.uuid) | tojson }}

                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        filepath: filepath,
                    })
                })
                .then(response => {
                    if (response.status === 200) {
                        return response.blob();
                    }

                    return response.text().then(text => {
                        alert(text);
                    });
                })
                .then(blob => {
                    if (!blob) return;

                    const download_url = URL.createObjectURL(blob);
                    const a = document.createElement("a");

                    a.href = download_url;
                    a.download = filepath.split("/").pop();
                    document.body.appendChild(a);
                    a.click();
                    a.remove();

                    URL.revokeObjectURL(download_url);
                });
            }

            function edit(btn) {

            }
        </script>
    </div>

</div>