<div id="filesystem-block">
    <style>
        @scope {
            .file-viewer {
                background-color: #1e1e1e;
                padding: 2vh 2vw;
            }

            .file-heading {
                font-size: 1.5rem;
                font-weight: bold;
            }

            .file-controls {
                float: right;
            }

            .file-controls > button:hover {
                cursor: pointer;
            }

            .code-editor {
                width: 100%;
                height: 70vh;
                margin-top: 15px;
            }
        }
    </style>

    <div style="margin-bottom: 25px"></div>

    <div class="file-viewer">
        <div class="file-heading">
            <span>{{ context.filename }}</span>
            <span class="file-controls">
                {% if not context.readOnly %}
                    <button type="button" id="save">Save</button>
                    <button type="button" id="cancel" onclick="window.location.reload()">Cancel</button>
                {% else %}
                    <button id="editButton" type="button">Edit</button>
                    <script>
                    document.getElementById('editButton').addEventListener('click', () => {
                      const url = new URL(window.location);
                      url.searchParams.set('edit', '');
                      history.pushState({}, '', url);
                      window.location.reload();
                    });
                    </script>
                {% endif %}
                    <button type="button">Download</button>
            </span>
        </div>

        <div id="code-editor" class="code-editor"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ext-modelist.min.js"></script>
    <script>
        const filename = {{ context.filename | tojson }};
        const content = {{ context.content | tojson }};

        const editor = ace.edit("code-editor");

        editor.setValue(content, -1);
        editor.setTheme("ace/theme/monokai");
        {% if context.readOnly %}
            editor.setReadOnly(true);
        {% else %}
            const save_button = document.getElementById("save");
            const cancel_button = document.getElementById("cancel");
            save_button.addEventListener("click", () => {
                save_button.disabled = true;
                cancel_button.disabled = true;
                const content = editor.getValue();
                const url = {{ url_for("modules.instances.save_file", uuid=instance.uuid, page="download_file", path=context.file_path) }}
            })
        {% endif %}

        const modelist = ace.require("ace/ext/modelist");
        const mode = modelist.getModeForPath(filename);
        editor.session.setMode(mode.mode);
    </script>
</div>