{% extends "core/module.html" %}

{% block moduletitle %}
Test
{% endblock %}

{% block modulehead %}
    <link rel="stylesheet" href="{{ resource(filename='create.css') }}">
{% endblock %}

{% block modulebody %}
    <div class="create">
        <h2>Minecraft Vanilla Server Generator</h2>
        <form action="{{ action('install') }}" method="POST">
            <label>
                Instance Name
                <input type="text" name="instance-name">
            </label>
            <label>
                Version
                <select name="minecraft-version">
                    {% for version in context.param_versions %}
                        <option value="{{ version }}">{{ version }}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="submit">Install</button>
        </form>
    </div>
{% endblock %}